<div class="container">
  <h2 class="bg-primary">Welcome to the great {{title}}</h2>
  <form [formGroup]="nameForm">
    <div class="row">
      <div class="col-2">
        <label for="username">Name:</label>
      </div>
      <div class="col">
        <input type="text" id="username" size="60" formControlName="username">
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="onClickConnect()">{{connectAction}}</button>
      </div>
    </div>
  </form>
  <hr>
  <form [formGroup]="msgForm">
    <div class="row">
      <div class="col-2">
        <label for="message">Message:</label>
      </div>
      <div class="col">
        <input type="text" id="message" size="60" formControlName="message">
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        <button type="button" class="btn btn-primary" [disabled]='msgForm.invalid' (click)="onClickSend()">Send</button>
      </div>
    </div>
  </form>
  <hr>
  <div *ngFor="let m of messages">
    <code>{{m.from}}:</code>
    <span>{{m.message}}</span>
  </div>
</div>